.advantages {
  padding-bottom: 0;
  
  @media (max-width: 1199px) {
    padding-bottom: 60px;
  }
}

.advantages__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143em;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--text-color);
  margin-bottom: 10px;

  @media (max-width: 768px) {
    text-align: center;
  }
}
  
.advantages__list {

  margin-top: -30px;
  margin-left: -30px;

  @media (min-width: 768px) {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}
  
.advantages__item {
  margin-top: 30px;
  margin-left: 30px;

  @media (min-width: 768px) {
    flex-basis: calc(100% / 2 - 30px);
  }
  @media (min-width: 1200px) {
    flex-basis: calc(100% / 4 - 30px);
  }
}
  
.advantages__container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  background-color: var(--team-background);
  margin-bottom: 30px;

  @media (min-width: 1200px) {
    width: 270px;
  }
}
  
.advantages__description {
  font-size: 14px;
  line-height: 1.714em;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}