.client {
  padding-top: var(--section-pt);
  padding-bottom: var(--section-pb);

  @media (max-width: 1199px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
.clients__list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}
  
.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px;
  border: 1px solid #AFB1B8;
  box-sizing: border-box;
  border-radius: 4px;
  transition: border-color var(--main-animation);

  &:hover,
  &:focus {
    border-color: #2196F3;

    & > .clients__icon {
      fill: #2196F3;
    }
  }
}

.clients__icon {
  display: flex;
  background-position: center;
  fill: var(--icon-color);
  transition: fill var(--main-animation); 
}

.clients__item {
  flex-basis: calc(100% / 2 - 30px);
  margin-left: 30px;
  margin-top: 30px;

  @media (min-width: 768px) {
    flex-basis: calc(100% / 3 - 30px);
  }

  @media (min-width: 1200px) {
    flex-basis: calc(100% / 6 - 30px);
  }
}