.header {
 padding-top: 16px;
 padding-bottom: 16px;
 border-bottom: 1px solid #ECECEC;
}

@media screen and (min-width: 768px) {
  .burger-btn {
    display: none;
  }
  .mobile-menu {
    display: none;
  }
  .header {
    padding: 0;
  }

  .navigation {
    display: flex;
    align-items: center;
  }

  .navigation__list {
    display: flex;
    align-items: center;
  }

  .navigation__item {
    &:not(:last-child) {
      margin-right: 50px;
      position: relative;
    }
  }

  .navigation__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.143em;
    letter-spacing: 0.02em;
    color: var(--text-color);
    padding-top: 32px;
    padding-bottom: 32px;
    transition: color var(--main-animation);
    &:hover,
    &:focus {
      color: var(--second-color);
    }
  }
  
  .navigation__link--current {
    color: var(--second-color);
  
      &::after {
      content: "";
      display: block;
      width: 100%;
      height: 4px;
      background-color: var(--second-color);
      position: absolute;
      border-radius: 2px;
      margin-top: 28px;
    } 
  }

  .list-link {
    display: flex;
    flex-direction: column;
    &__item:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  .mail-link,
  .tel-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.143em;
    letter-spacing: 0.02em;
    color: var(--second-text-color);
    display: flex;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;
    
    transition: color var(--main-animation);

    &:focus,
    &:hover {
      color: var(--second-color);
    }

    &:focus svg,
    &:hover svg {
      fill: var(--second-color);
    }
  }
    
  .mail-icon {
    margin-right: 10px;
    fill: var(--second-text-color);
    transition: fill var(--main-animation);
  }
    
  .tel-icon {
    margin-right: 10px;
    fill: var(--second-text-color);
    transition: fill var(--main-animation);
  }

}
@media screen and (min-width: 1200px) {

  .list-link {
    display: flex;
    flex-direction: row;
    margin-left: auto;
  }

  .mail-link,
  .tel-link {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .tel-link__item { 
    margin-left: 50px;
  } 

}