.hero {
  background-image: linear-gradient(
    to right, 
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)
    ),
  url(../img/hero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--second-background);
  max-width: 1600px;
  margin: 0 auto;

  .container {
    padding: 200px 0;
  }
}

.hero__title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.6em;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  color: var(--main-color);
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: 1200px) {
    font-size: 44px;
    line-height: 1.363em;
    max-width: 696px;
  }
}
  
.hero__button {
  transition: var(--main-animation);

  &:hover ,
  &:focus {
    background-color: var(--bottom-background);
  }
}
  
