.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.1);
  opacity: 1;
  transition: opacity var(--main-animation);

  @media (max-width: 767px) {
    padding: 93px 15px;
  }
  @media (min-width: 768px) and (max-width: 1199px) {
    padding: 207px 159px;
  }

}