.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color var(--main-animation);

  &:hover,
  &:focus {
    background-color: var(--second-color);

    .social__icon {
    fill: #ffffff;
    }
  }
}