.section {
  padding-top: var(--section-pt);
  padding-bottom: var(--section-pb);

 @media (max-width: 1199px) { 
  padding-top: 60px;
  padding-bottom: 60px;
 }
  
}

.body {
  font-family: var(--main-font);
  font-weight: 400;
  background: var(--main-color);
}


h1,
h2,
h3,
h4,
h5,
h6,
p,
b {
  margin: 0;
}
  
ul,
ol {
  margin: 0;
  padding: 0;
}
  
img {
  display: block;
}
  
.link {
  text-decoration: none;
}
  
.list {
  list-style: none;
}
  
.address,
.footer-social {
  font-style: normal;
}